body {
  font-family: 'Poppins', sans-serif;
}

.modern-contact {
  display: flex;
  flex-wrap: wrap;
  background-color: #f4ede4;
  padding: 60px 40px;
  
  gap: 40px;
}

.contact-left-info {
  flex: 1;
  width: 700px;
}

.contact-left-info h1 {
  font-size: 80px;
  font-weight: bold;
  color: #ece6dd;
  margin-bottom: 30px;
}

.enquiry-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap:15px;
  
}

.enquiry-buttons button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;

}

.enquiry-buttons .active {
  background: #000;
  color: #fff;
}

.enquiry-buttons .disabled {
  background: #fff;
  color: #ccc;
  border: 1px solid #ccc;
  cursor: not-allowed;

}

.contact-left-info address {
  font-size: 14px;
  color: #222;
 
}
.contact-form-modern {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 20px;

}


.contact-form-modern .row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-form-modern input,
.contact-form-modern textarea {
  flex: 1;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  padding: 12px 5px;
  font-size: 15px;
  outline: none;
}

.contact-form-modern textarea {
  height: 10px;
  resize: vertical;
}

.line-label {
  font-weight: 300;
  margin: 10px 0 0;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 8px;
}

.send-button {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.send-button:hover {
  background-color: #333;
}
